.main{
    display: flex;
    flex-wrap: wrap;
}
.anm-box {
    transition: opacity 0.5s ease-out;
    opacity: 1;
    transform: scale(1);
}

.removed {
    transform: scale(0.1);
    opacity: 0;
    display: hidden;
}